@media screen and (max-width: 600px){
	.desktop_only{
		display:none;
	}
}

.bg_w
{
	width:100%;
}

.bg_h
{
	height:100%;
}

.nav-transp{
	background-color: transparent;
	border: none;
	
	z-index:1;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color:transparent;
	border:2px solid;
    border-radius:10px;
	border-color:white;
}

.white-nav > a{
	color:#fff !important;
	text-shadow:1px 1px 3px black;
	border:2px solid;
	border-radius:10px;
	border-color:transparent;
	border-spacing:-5px;
}

.white-nav > a:hover{
	border:2px solid;
	border-radius:10px;
	border-color:white;
	border-spacing:-5px;
}

@media (max-width: 767px){
	.grey-nav > a{
		text-shadow:1px 1px 3px black;
		color:#fff !important;
	}
}

.bgpic_url_0_color{
	position: inherit;
	bottom: inherit;
	
	background-image:url("../image/bg_0_color.jpg");
	background-position: inherit;
	background-size: inherit;
	background-attachment:inherit;
	
	-webkit-mask-image: -webkit-gradient(
    linear, center top, center bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
	color-stop(0.25,  rgba(0,0,0,1)),
	color-stop(0.7,  rgba(0,0,0,0)),
    color-stop(1.00,  rgba(0,0,0,0)));
}

.bgpic_url_0_blue{
	position:absolute;
	bottom:0;
	
	background-image:url("../image/bg_0_blue.jpg");
	background-position: top right;
	background-size: cover;
	background-attachment:fixed;
}

#bgwhite{
	position:absolute;
	bottom:0;
	height: 35%;
	
	background:linear-gradient( to bottom, transparent, white);
}

#text_holder{
	position:absolute;
	overflow:hidden;
	
	padding-left:2%;
	bottom:0;
}

#event_holder{
	margin-bottom:5em;
}

#widget_0{
	position:absolute;
	
	height: 60%;
	min-height: 35em;
	right:0;
	bottom:0;
}

p.title
{
	font-family: "Times New Roman", Times, serif;
	font-size: 5em;
	line-height:75%;
	font-variant:small-caps;
	letter-spacing: -0.05em;
	color: #000;
	text-shadow:
    -0.01em -0.01em 0em #fff,
    0.01em -0.01em 0em #fff,
    -0.01em 0.01em 0em #fff,
    0.01em 0.01em 0em #fff;
}

div.text,p.text
{
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em;
	color: #000;
	text-shadow:
    0.025em 0.025em 0em #fff;
}